
<mat-toolbar>
    <a href="javascript:void(0)" routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon style="color: white;">home</mat-icon>
    </a>
    <span style="color: white;">Kodwa</span>
    <span class="example-spacer"></span>
    <a *ngIf="! checkIsLogin()" class="feres" mat-raised-button color="accent"  routerLink="/sginin" >
  <!-- <mat-icon style="color: white;">login</mat-icon>--> 
 SignIn
    </a>
    <a *ngIf="! checkIsLogin()" class="feres" mat-raised-button color="accent" routerLink="/sginup"   >
SignUp
    </a>
    <button mat-raised-button  style="margin-right: 20px;" color="accent" *ngIf="checkIsLogin()" (click)="logout()" >
        <b style="color: white;">logout</b>
    </button>  
    <b *ngIf="_authenticationService" style="color: white;">Admin</b>
    <b *ngIf="getusername()=='User'&& checkIsLogin()" style="color: white;">User</b>      
      
    

</mat-toolbar>