<mat-card>
    <h3>You Profile</h3>
    <mat-card-content>Content</mat-card-content>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="container text-center">
                <img class="profile-image" src="../../../assets/default-profile.jpg"  alt="">
                <h3>{{user.userFirstName +  " "+ user.userLastName}}</h3>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                <table class="tabel">
                    <tr>
                        <td>First name:</td>
                        <td>feres</td>
                    <tr>
                        <td>Last Name</td>
                        <td>{{user.userLastName}}</td>
                    </tr>
                    <tr>
                        <td>UserName</td>
                        <td>{{user.userName}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Roles</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td></td>
                    </tr>
                </table>        
                </div>
            </div>
        </div>
    </div>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="accent">Cancel</button>
    </mat-card-actions>
</mat-card>