<div class="bootstrap-wrapper">
	<div class="container">
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img class="logo" src="../../../assets/logo.png" alt="">
                    </div>
                    <h1 class="text-center">Register here</h1>
                    <form (ngSubmit)="onRegister()" #form>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>First Name*</mat-label>
                            <input required
                            [(ngModel)]="user.userFirstName"
                            name="firstName"
                            matInput placeholder="Enter here ...">
                            <mat-hint>Fares</mat-hint>
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Last Name*</mat-label>
                            <input required
                            [(ngModel)]="user.userLastName"
                            name="lastName"
                            matInput placeholder="Enter here ...">
                            <mat-hint>jbeli</mat-hint>
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Username*</mat-label>
                            <input required
                            [(ngModel)]="user.userName"
                            name="username"
                            matInput placeholder="Enter here ...">
                            <mat-hint>mr.username</mat-hint>
                        </mat-form-field>
    
    
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Password*</mat-label>
                            <input required
                            [(ngModel)]="user.userPassword"
                            name="password"
                            type="password" matInput placeholder="Enter here ...">
                            <mat-hint>#Pssword01</mat-hint>
                        </mat-form-field>
    
                        
    
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary" style="margin-right: 20px;">Register</button>
                            <button (OnClick)="clear()" mat-raised-button color="accent">Clear</button>

                        </div>
                    </form>

                </mat-card>
			</div>
		</div>
	</div>
</div>