<mat-card>
    <mat-action-list>
        <img class="avatar" src="../../../assets/avatar.png" alt="">
        <h4 class="name">Admin</h4>
        <p class="description">Software Engineer</p>
        <mat-divider></mat-divider>
        <br>
        <button style="color: white;" mat-list-item routerLink="/admin-dashboard/" ><mat-icon mat-list-icon style="color: white;">home</mat-icon>Home</button>
        <button style="color: white;" mat-list-item routerLink="/admin-dashboard/profile"><mat-icon mat-list-icon style="color: white;">account_circle</mat-icon> Account</button>
        <button style="color: white;" mat-list-item routerLink="/admin-dashboard/reference-competence"><mat-icon mat-list-icon style="color: white;">account_circle</mat-icon> Reference</button>

        <button style="color: white;" mat-list-item routerLink="/admin-dashboard/categories"><mat-icon mat-list-icon style="color: white;">checklist</mat-icon> Categories</button>
        <button style="color: white;" mat-list-item routerLink="/admin-dashboard/add-category"><mat-icon mat-list-icon style="color: white;">add_circle_outline</mat-icon> add Categories</button>

        <button style="color: white;" mat-list-item routerLink="/admin-dashboard/exercices"><mat-icon mat-list-iconstyle="color: white;">quiz</mat-icon> Exercice</button>
        <button style="color: white;" mat-list-item routerLink="/admin-dashboard/add-exercices"><mat-icon mat-list-iconstyle="color: white;">add</mat-icon> add Exercice</button>

    </mat-action-list>
</mat-card>